newspaper3k
yt-dlp
openai-whisper
langchain_huggingface
chromadb
soundfile 
sounddevice 
elevenlabs
streamlit
langchain
langchain_community
langchain_openai
langchain_text_splitters
faiss-cpu
unstructured
dotenv
selenium
sentence-transformers
transformers